

.calenderErrorContainer{
    width: 350px;
    color: #990305;
    margin: auto;
    min-height: 25px;
}

.calenderErrorContainer span{
     color: #990305;
}

.calender{
    margin-top: 1em !important;
}