<div *ngIf="!ready" class="spinner" style="display: flex; padding-top:100px;">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div *ngIf="ready" style="text-align: center;margin-top:  20px;" class="">
<span class="smaillTitle" style="margin-top: 25px;">יש לבחור מועד עבור הזמנת החדר</span>
  <div style="align-items: center;
    flex-direction: column;
    display: flex;">
  <div class="smaillTitle" style="margin-top: 0.6em; width: 220px;">
      <span *ngIf="datePickerMonth && datePickerMonth.index > 0" [ngClass]="{'animated fadeIn':
      datePickerMonth && datePickerMonth.index > 0}" class="glyphicon
      glyphicon-circle-arrow-right monthArrow fadeIn"
            (click)="changeDatepickerMonth(-1)" style="float:right;"></span>
    <span class="datePickerMonth">{{datePickerMonth.text}}</span>
    <span class="glyphicon glyphicon-circle-arrow-left monthArrow"
          (click)="changeDatepickerMonth(1)" style="float:left;"></span>
  </div>


  <div dir="rtl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 calander">
    <div class="row">
      <div class="calenderErrorContainer">
        <span *ngIf="showError">*נא למלא את שעת המשחק</span>
      </div>
    </div>
    <div class="row">
      <div class="dayAndHoursBox">
        <div class="daysBox" id="style-1">
          <div *ngFor="let day of datesGroupedByMonths[datePickerMonth.index].data">
            <div [ngClass]="{chooseDay: day._IsChoosen === true}"
                 class="days" (click)="ChooseDate(day)">
              <span style="font-weight:900;">{{day._WeekDay}}</span>
              |
              <span style="padding-left: .5em;">{{day.TimeRev}}</span>
            </div>
          </div>
        </div>
        <div class="hoursBox" id="style-1">
          <div *ngFor="let hour of Hours_av">
            <div [ngClass]="{chooseHour: hour.IsChoosen === true}"
                 class="hour" (click)="ChooseTime(hour)">
              <div>{{hour.Time}}</div>
            </div>
          </div>
        </div>
      </div>


      <div class="Box"
           [ngClass]="{panelButtonDisappear: !midnightMsg, panelButtonAppear: midnightMsg}"
           *ngIf="midnightMsg && Pick_A_Hour.IsChoosen">
        <div class="choosenDate_TimeBox">
          <span class="text" style="padding-right: 1em;">שים לב: </span>
          <span>ההזמנה היא ללילה שבין </span>
          <span>{{midnightMsg}}</span>
          <!--<span class="text" style="padding-right: 1em;">שעה:</span>-->
          <!--<span>{{Pick_A_Hour.Time}}</span>-->
        </div>
      </div>
    </div>
  </div>


  <div class="">
    <div dir="rtl" class="calenderBtns">
      <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="position:relative; bottom: 2px; right: 1px;">-->
        <div class="panelButtonBack panelBackButton shadowDesgin hvr-bubble-right prevBtn"
             (click)="back.emit()" style="position: relative;">
          <span class="backText">חזור</span>
        <!--</div>-->
      </div>
      <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="position:relative; bottom: 2px; left: 1px;">-->
        <div class="panelButtonAppear"
             class="panelButton panelNextxtButton shadowDesgin hvr-bubble-left nextBtn"
             (click)="next()" type="submit" style="position:relative;">
          הבא
        <!--</div>-->
      </div>
    </div>
  </div>

  </div>
</div>

