<form id="form" method="post" class="" style="width:100%; direction: rtl;" #heroForm="ngForm">
    <div dir="rtl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rtl-line" style="margin-top: 2em;" >

      <div dir="rtl" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerContent">
        <div class="form-group">
          <mat-form-field style="width: 100%">
          <input tabindex="1"
                 autocomplete="given-name"
                 name="name"
                 matInput
                 [ngClass]="{'mat-form-field-invalid':
                        firstName.invalid && (firstName.dirty || firstName.touched || isFormInvalid)}"
                 [(ngModel)]="customer.firstName" #firstName="ngModel"
                 placeholder="שם פרטי"
                 minlength="2" maxlength="16" required/>
          </mat-form-field>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerContent">
        <div class="form-group">
          <mat-form-field style="width: 100%">
          <input tabindex="2"
                 autocomplete="family-name"
                 name="lastName"
                 matInput
                 [ngClass]="{'mat-form-field-invalid':
                        lastName.invalid && (lastName.dirty || lastName.touched || isFormInvalid)}"
                 [(ngModel)]="customer.lastName" #lastName="ngModel"
                 placeholder="שם משפחה"
                 minlength="2" maxlength="16" required/>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div dir="ltr" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rtl-line" style="margin-top: 2em;">
      <div dir="ltr" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerContent">
        <div class="form-group" [ngClass]="{'has-error22':
                        telephone.invalid && (telephone.dirty || telephone.touched || isFormInvalid)}">
          <mat-form-field style="width: 100%">
          <input type="tel" tabindex="4" [(ngModel)]="customer.telephone"
                 autocomplete="tel"
                 matInput
                 name="phone"
                 [ngClass]="{'mat-form-field-invalid':
                        telephone.invalid && (telephone.dirty || telephone.touched || isFormInvalid)}"
                 pattern="^\d+$" [(ngModel)]="customer.telephone"
                 #telephone="ngModel"
                 minlength="9" maxlength="12" required placeholder="טלפון" /></mat-form-field>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerContent">
        <div class="form-group">
          <mat-form-field style="width: 100%">
          <input tabindex="3" email type="email"
                 autocomplete="email"
                 name="email"
                 matInput
                 [(ngModel)]="customer.email"
                 placeholder="דואר אלקטרוני"
                 [ngClass]="{'mat-form-field-invalid':
                        email.invalid && (email.dirty || email.touched || isFormInvalid)}"
                 required #email="ngModel" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div dir="ltr" style="margin-left: -15px" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rtl-line"
         style="padding-bottom:1em; margin-top: 2em; direction: ltr">
      <div dir="ltr" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerContent">
        <div class="form-group">
          <div dir="rtl" class="displayFlex playersBox">
            <span class="text">מספר משתתפים</span>
            <div class="numberOfPlayersBox">
              <span class="numberOfPlayersSign glyphicon glyphicon-plus" (click)="AddPlayer()"></span>
              <span class="numberOfPlayers">{{numberOfPlayers}}</span>
              <span class="numberOfPlayersSign glyphicon glyphicon-minus" (click)="RemovePlayer()"></span>
            </div>
          </div>
        </div>
      </div>

      <div dir="ltr" style="margin-left: -8px" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerContent">
          <div class="displayFlex checkbox form-group">
            <input id="i2" name="policyCB" type="checkbox" [(ngModel)]="policyCB"
                   #cb="ngModel" required [ngClass]="{'invalid-red':
                        policyCB.invalid && (policyCB.touched || isFormInvalid)}">
            <div style="padding-right:20px;">
            <span class="text cb-text">

                  אני מסכים בזאת <a type="button" class="btn-demo" style="font-weight: 600"
                                    (click)="openModal()">
              לתנאי השימוש ומדיניות הביטולים</a>

              של בית העסק
    </span>
            </div>
        </div>
      </div>
    </div>

    <div dir="ltr" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerContent">
      <div class="">
        <div dir="rtl">
        <div *ngIf="changeTimeMsg"
              class="alert alert-danger animated fadeIn">מצטערים! התאריך הנבחר נתפס. עליך לבחור תאריך חדש</div>
        </div>
      </div>
    </div>
</form>

<div>
  <div dir="rtl" class="goBottom col-lg-12 col-md-12 col-sm-12 col-xs-12 displayFlex next-prev-btns">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="position:relative; bottom: 2px; right: 1px;">
      <div class="panelButtonBack panelBackButton shadowDesgin hvr-bubble-right prevBtn"
           (click)="back.emit()" style="position: relative; padding:0.33em !important;">
        <span class="backText">חזור</span>
      </div>
    </div>
    <div *ngIf="!lockingDate" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="position:relative; bottom: 2px; left: 1px;">
      <div class="panelButtonAppear"
           class="panelButton panelNextxtButton shadowDesgin hvr-bubble-left nextBtn"
           (click)="next()" type="submit" style="position:relative;">
        הבא
      </div>
    </div>
    <div *ngIf="lockingDate" class="spinner" style="display: flex;">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
