<div style="margin-top:10%; ">

      <div class="smaillTitle">יש לבחור אחד מן החדרים</div>
      <div [ngClass]="{moveAppAnimation: isNotValid === true,
                       moveDownAnimation: isNotValid === false}">
        <div class="hint"><span class="glyphicon glyphicon-remove-circle okIcon">

        </span>עלייך לבחור חדר על מנת להמשיך</div>
      </div>

      <div *ngIf="isRoomLoaded">
        <div *ngFor="let room of room.SubRoomList" style="margin:auto;">
          <div class="centerContent">
            <div class="row chooseRoomBox"
                 [ngClass]="{selectedRoom: room.IsChoosen === true}"
                 (click)="SetRoom(room)">
              <div dir="rtl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 displayFlex" style="padding-right: 0">
                <div class="">
                  <img src={{room.SubRoomPhoto}} />
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 text">
                 <p> {{room.RoomName}}</p>
                  <p style="font-weight: 100">רחוב אפעל 24, פתח תקוה</p>

                </div>

                <!--
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 centerContent ButtonChooseRoom">
               לחץ לבחירה
            </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
