<head>
    <link href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
</head>


<body dir="rtl" >
<room [roomId]="roomId" *ngIf="Panels[0].Show" (roomChoosed)="nextAfter(onAfterChooseRoom, $event)"></room>

<div *ngIf="CurrentPanel != 0" class="content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="coverBox">
        <div class="title">{{selectedSubRoom.RoomName}}</div>
        <div *ngIf="!order.room" class="title">הזמנת משחק</div>
        <div *ngIf="CurrentPanel > 1">
      <div style="display: inline">
            <div class="text animated fadeIn">מועד נבחר</div>
            <span class="text animated fadeIn">תאריך:</span>
            <span class="animated fadeIn">{{order.date._WeekDay}},</span>
            <span class="animated fadeIn">{{order.date.TimeRev}}</span>
            <span class="text animated fadeIn" style="padding-right: 1em;">שעה:</span>
            <span>{{order.hour.Time}}</span>
      </div>
      </div>
      </div>


      <!--Header-->
      <div align="center" class="displayFlex navEsc" style="
                                          background-color:#fff; font-size: 13px; margin-left: 0;">

        <div align="center" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 navItem">
          <div style="display: flex; align-items: center;">
            <div (click)="RandomAccessChangePage(1)"
                 [ngClass]="{navItemSelectd: Panels[1].Show, navItem: Panels[1].Show, wizardItem: true}">
              <img src="assets/icons8-calendar-50.png">
              <span>תאריך ושעה</span></div>
            <div class="arrow-left"></div>
          </div>
        </div>
        <div align="center" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 navItem">
          <div style="display: flex; align-items: center;">
            <div (click)="RandomAccessChangePage(2)"
                 [ngClass]="{navItemSelectd: Panels[2].Show === true, navItem: Panels[2].Show !== true,
           wizardItem: true}">
              <img src="assets/icons8-account-50.png">
              <span>פרטים אישיים</span>
            </div>
            <div class="arrow-left"></div>
          </div></div>
        <div align="center" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 navItem">
          <div style="display: flex; align-items: center;">
            <div (click)="orderCompletedSuccessfully || RandomAccessChangePage(3)"
                 [ngClass]="{navItemSelectd: Panels[3].Show === true, navItem: Panels[3].Show !== true, wizardItem: true}">
              <img src="assets/icons8-credit-card-50.png">
              <span>פרטי תשלום</span>
            </div>
            <div class="arrow-left"></div>
          </div>
        </div>
        <div align="center" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 navItem">
          <div style="display: flex; align-items: center;">
            <div (click)="RandomAccessChangePage(4)"
                 [ngClass]="{navItemSelectd: Panels[4].Show === true, navItem: Panels[4].Show !== true, wizardItem: true}">
              <img src="assets/icons8-approval-50.png">
              <span>סיכום הזמנה</span>
            </div>
            <div class="arrow-left"></div>
          </div>
        </div>
      </div>

      <!--Header-->

    </div>


<div [style.display]="Panels[1].Show? 'inherit': 'none'">
  <datehourpicker (dateChoose)="nextAfter(onAfterDateChoose, $event)" (back)="Back()"
                                                            [subRoom]="selectedSubRoom"
                  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                                             [ngClass]="{panelButtonAppear: Panels[1].Show}"
                                                             style="height: 85vh; display:block;">
  </datehourpicker>
</div>

    <div class="Box"
             [ngClass]="{panelButtonDisappear: !Panels[2].Show, panelButtonAppear: Panels[2].Show}"
             [style.display]="Panels[2].Show? 'inherit': 'none'">
      <customer-details-form #form [minPlayers]="2" [maxPlayers]="6" (onSubmit)="onAfterFormSubmit($event)"
                                                                                      (back)="Back()">
      </customer-details-form>
      </div>


    <div [ngClass]="{panelButtonDisappear: !Panels[3].Show, panelButtonAppear: Panels[3].Show}"
             *ngIf="Panels[3].Show" style="text-align :center;">
      <cg-iframe [email]="order.customer.email" [fullName]="order.customer.getFullName()"
                            (onCreditGuardCallback)="onCreditGuardCallback($event)"
                            (paymentSuccess)="Next()"
                            (back)="Back()"
                            (error)="sendMail('קרדיט גארד')"
							[order]="order"></cg-iframe>
    </div>

    <div [ngClass]="{panelButtonDisappear: !Panels[4].Show, panelButtonAppear: Panels[4].Show}"
             *ngIf="Panels[4].Show">

  <div *ngIf="  isTransDetailsReceived">
      <div *ngIf="orderCompletedSuccessfully && !appointmentInvalid">
            <div dir="rtl" class="smaillTitle margin1em">
                {{ order.customer.firstName}},
                אנו מודים לך על הזמנתך
            </div>
            <div align="center" class="text margin1em">
                ברגעים אלו ישלח אלייך מסרון עם פרטי ההזמנה
            </div>
            <div align="center" class="margin1em">
                <img src="/checked.png" />
            </div>
            <div align="center" class="text margin1em">
              077-670-4655
              <br>
              service@freedomescape.co.il
            </div>
      </div>

      <div *ngIf="!orderCompletedSuccessfully">
        <div dir="rtl" class="smaillTitle margin1em">
          שגיאה באמצעי התשלום. נסה שוב מאוחר יותר, או צור קשר.
        </div>
      </div>

    <div *ngIf="appointmentInvalid">
        <div dir="rtl" class="smaillTitle margin1em">
          קרתה תקלה!
          <br>
          אנו מצטערים, ההזמנה לא נקלטה.
          <br>
          כרטיס האשראי שלכם זוכה בסכום המקדמה.
          <br>
          צרו קשר לפרטים נוספים
          <br>
          077-670-4655
          <br>
          service@freedomescape.co.il
        </div>
      </div>
        </div>
      <div *ngIf="!isTransDetailsReceived" class="pulse infinte">
        משלים הזמנה...
      </div>
      <div *ngIf="!isTransDetailsReceived" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>


      <script>
        fbq('track', 'Purchase', {
            value: %price%,
          currency: 'NIS'
        });
      </script>

      <!-- Google Code for Already ordered -->
      <!-- Google Code for Remarketing Tag -->
      <!--------------------------------------------------
      Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
      --------------------------------------------------->
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 866975181;
        var google_conversion_label = "ZnMACIrKgHIQzfuznQM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/866975181/?value=1.00&amp;currency_code=ILS&amp;label=ZnMACIrKgHIQzfuznQM&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>


      <!-- Google Code for Buying Conversion Page -->
      <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 866975181;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "8OPWCIzJg3IQzfuznQM";
        var google_remarketing_only = false;
        /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/866975181/?label=8OPWCIzJg3IQzfuznQM&amp;guid=ON&amp;script=0"/>
        </div>
      </noscript>
    </div>

      </div>
<footer *ngIf="CurrentPanel != 1" >
  <h5 class="footerTitle"> POWERED BY SLOTSECURE </h5>
</footer>
</body>
