@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

* {
  /*font-family: 'Assistant', sans-serif;*/
  color: #414142;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans Hebrew', serif;
}

@media (max-width:350px) {
  .next-prev-btns {
    width: 350px;
  }
}


/*TOP COVER*/
/*.coverBox {*/
    /*height: 125px;*/
    /*background-color: #CFD8DC;*/
/*}*/
.title {
    font-size: 2em;
    margin-top: 0.1em;
}

.roomName {
    margin: .5em;
    font-size: 1.5em;
    font-weight: 700;
}

.sepratorLine {
    height: 2px;
    background-color: #808080
}

.LineTop {
    height: 5px;
    background-color: #990305;
}


/*END --- TOP COVER*/

/*NAV*/
.navEsc {
    margin: 1em;
}

.navItem {
}


.circle {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    border: #990305 solid .1em;
    margin: 1em;
    background-color: #ECEFF1;
    color: #263238;
    font-weight: 900;
}

    .circle:hover {
        cursor: pointer;
        color: #fff;
        background-color: #990305;
    }


/*END --- NAV*/

.goBottom {
    position: relative;
    bottom: 0;
}


/*CALANDER*/

.text {
    font-size: 1.1em;
    color: #414142;
    font-weight: 900;
}

.calenderErrorContainer{
    width: 350px;
    color: #990305;
    margin: auto;
}

.daysBox {
    width: 60%;
    border: solid 2px #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.hoursBox {
    width: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid 2px #fff;
}


.dayAndHoursBox {
    text-align: right;
    display: flex;
    width: 350px;
    height: 263px !important;
    margin: auto;
    background-color: #ECEFF1;
}


.days {
    font-size: 1.1em;
    color: #414142;
    font-weight: 900;
    background-color: #ECEFF1;
    padding: .5em;
}

    .days:hover {
        cursor: pointer;
        background-color: #F5F5F5;
    }

.chooseDay {
    background-color: #CFD8DC;
}

.hour {
    font-size: 1.1em;
    color: #414142;
    font-weight: 600;
    background-color: #ECEFF1;
    padding: .5em;
}

    .hour:hover {
        cursor: pointer;
        background-color: #CFD8DC;
    }

.chooseHour {
    background-color: #CFD8DC;
}


.calander{

    margin-top: 1em;
}

.textMonth {
    font-size: 1.8em;
    color: #990305;
    font-weight: 900;
    margin: 0 2em 0 2em;
    width: 5em;
    text-align: center;
}

.arrowMonth {
    font-size: 1.8em;
    color: #990305;
    font-weight: 900;
    opacity: .8;
}

    .arrowMonth:hover {
        cursor: pointer;
        opacity: 1;
    }

    .leftArrow {
        height: 2em;
        -webkit-clip-path: polygon(30% 0, 0 50%, 100% 100%);
        clip-path: polygon(40% 0, 0 50%, 40% 100%);
        background-color: red;
        position: absolute;
    }



.playersBox {
    width: 300px;
}

.numberOfPlayersBox {
    border-bottom: 2px solid #414142;
    margin-right: 15px;
    float: right;
}

.smaillTitle {
    font-weight: 700;
    text-align: center;
    font-size: 19px;
}

.numberOfPlayers {
    color: #414142;
    font-weight: 700;
    color: #414142;
    margin: 0 1.5em 0 1.5em;
}

.numberOfPlayersSign {
    color: #414142;
}

.numberOfPlayersSign:hover{
    cursor: pointer;
}

.detailsBox{
    margin:auto;
    text-align: center;
}

.Box{
    background-color: #fff;
}

.chooseRoomBox{
    padding: 1em;
    margin: 1em;
    background-color: #ECEFF1;
    width: 30em;
}

.chooseRoomBox:hover {
    cursor: pointer;
    background-color: #F5F5F5;
}

.selectedRoom {
    background-color: #CFD8DC;
}

.choosenDate_TimeBox{

    color: #990305 !important;
    padding: 1em;
    margin: 0;
    text-align: center;

}

.ButtonChooseRoom{
    background-color: #990305;
    color: #fff;
    font-size: 1em;
    height: 6em;
    text-align: center;
    vertical-align: central;
}


@media (max-width:480px) {

    .centerNavItem {
        position: relative;
        right: 25%;
        text-align: center;
    }
}

.navItemSelectd{

    background-color: #FF4F65;
    color: #fff !important;

}

.fontBold{

    font-weight: 900;
}
