<div>
    <h4>
      אנו גובים מקדמה על סך 100 ש"ח שתוחזר במלואה במידה וביטול המשחק יעשה לפחות 24 שעות לפני המועד שנקבע.
    </h4>
    <span *ngIf="!creditCardIframeUrl" class=""> טוען עמוד תשלום</span>
  </div>

  <div *ngIf="(creditCardIframeUrl)">
    <iframe
      [src]="creditCardIframeUrl | safe" style="height:685px;
      padding-top:1em;" frameBorder="0" class="col-md-10 col-xs-12"></iframe>
  </div>


  <div *ngIf="!creditCardIframeUrl" class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:relative; bottom: 2px; right: 1px;">
  <div class="panelButtonBack panelBackButton shadowDesgin hvr-bubble-right prevBtn"
       (click)="back.emit()" style="position: relative;">
    <span class="backText">חזור</span>
  </div>
</div>
