﻿/*!*MATIRAL DESING INPUTS*!*/




/*.group {*/
    /*position: relative;*/
    /*margin-bottom: 45px;*/
/*}*/

/*!*input {*!*/
    /*!*opacity: 1;*!*/
    /*!*padding: 10px 10px 10px 5px;*!*/
    /*!*display: block;*!*/
    /*!*width: 300px;*!*/
    /*!*border: none;*!*/
    /*!*border-bottom: .2em solid #414142;*!*/
/*!*}*!*/

    /*input:focus {*/
        /*outline: none;*/
    /*}*/

/*!* LABEL ======================================= *!*/
/*label {*/
    /*color: #414142;*/
    /*font-size: 1.1em;*/
    /*font-weight: 900;*/
    /*position: absolute;*/
    /*pointer-events: none;*/
    /*right: 5px;*/
    /*top: 10px;*/
    /*transition: 0.2s ease all;*/
    /*-moz-transition: 0.2s ease all;*/
    /*-webkit-transition: 0.2s ease all;*/
/*}*/

/*!* active state *!*/
/*input:focus ~ label, input:valid ~ label {*/
    /*top: -15px;*/
    /*font-size: 1.1em;*/
    /*color: #990305;*/
/*}*/

/*!* BOTTOM BARS ================================= *!*/
/*.bar {*/
    /*position: relative;*/
    /*display: block;*/
    /*width: 300px;*/
/*}*/

    /*.bar:before, .bar:after {*/
        /*content: '';*/
        /*height: 2px;*/
        /*width: 0;*/
        /*bottom: 1px;*/
        /*position: absolute;*/
        /*background: #414142;*/
        /*transition: 0.2s ease all;*/
        /*-moz-transition: 0.2s ease all;*/
        /*-webkit-transition: 0.2s ease all;*/
    /*}*/

    /*.bar:before {*/
        /*left: 50%;*/
    /*}*/

    /*.bar:after {*/
        /*right: 50%;*/
    /*}*/

/*!* active state *!*/
/*input:focus ~ .bar:before, input:focus ~ .bar:after {*/
    /*width: 50%;*/
/*}*/

/*!* HIGHLIGHTER ================================== *!*/
/*.highlight {*/
    /*position: absolute;*/
    /*height: 40%;*/
    /*width: 100px;*/
    /*top: 25%;*/
    /*left: 0;*/
    /*pointer-events: none;*/
    /*opacity: 0.5;*/
/*}*/

/*!* active state *!*/
/*input:focus ~ .highlight {*/
    /*-webkit-animation: inputHighlighter 0.3s ease;*/
    /*-moz-animation: inputHighlighter 0.3s ease;*/
    /*animation: inputHighlighter 0.3s ease;*/
/*}*/

/*!* ANIMATIONS ================ *!*/
/*@-webkit-keyframes inputHighlighter {*/
    /*from {*/
        /*background: #ECEFF1;*/
    /*}*/

    /*to {*/
        /*width: 0;*/
        /*background: transparent;*/
    /*}*/
/*}*/

/*@-moz-keyframes inputHighlighter {*/
    /*from {*/
        /*background: #ECEFF1;*/
    /*}*/

    /*to {*/
        /*width: 0;*/
        /*background: transparent;*/
    /*}*/
/*}*/

/*@keyframes inputHighlighter {*/
    /*from {*/
        /*background: #ECEFF1;*/
    /*}*/

    /*to {*/
        /*width: 0;*/
        /*background: transparent;*/
    /*}*/
/*}*/
