﻿.displayFlex {
    display: flex;
}

.centerContent {
    justify-content: center;
    align-items: center;
    text-align: right;
    display: flex;
}

.shaddowDesgin {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 0;
}

    .shaddowDesgin:hover {
        z-index: 1000;
        box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
        -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    }

.margin1em {
    margin: 1.5em;
}
