﻿
.panelBox {

}

.panelButton {
    background-color: #990305;
    color: #fff;
    opacity: 1;
    display: inline-block;
    width: 4em;
    margin: .4em .4em .4em .4em;
    padding: .4em;
    font-size: 2em;
}

.panelButtonBack {
    background-color: #fff;
    color: #990305;
    opacity: 1;
    display: inline-block;
    width: 4em;
    margin: .4em .4em .4em .4em;
    padding: .4em;
    font-size: 2em;
    border: 2px solid #990305;
}

.panelButtonBack {
    background-color: #fff;
    color: #990305;
    cursor: pointer;
}


.panelButtonDisappear {
    animation-name: disappear;
    animation-duration: 1s;
    visibility: hidden;
}

.panelButtonAppear {
    animation-name: appear;
    animation-duration: 1s;
    visibility: visible;
}


@keyframes disappear {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


@keyframes appear {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.panelButton:hover {
    background: #990305;
    cursor: pointer;
    opacity: .9;
}

.panelBackButton {
    float: right;
}

.panelNextxtButton {
    float: left;
}

.backText {
    margin-right: 20px;
    color: #990305;
}

.navItemSelectd {
    background-color: #990305;
    color: #fff;
}

    .navItemSelectd:hover {
        cursor: auto;
    }
