﻿.moveAppAnimation {
    animation-name: moveAp;
    animation-duration: 1s;
    visibility: visible;
    position: relative;
    bottom: 0em;
    opacity: .8;
}

.moveDownAnimation {
    animation-name: moveDown;
    animation-duration: 1s;
    visibility: hidden;
    position: relative;
    bottom: -.7em;
    opacity: 0;
}


@keyframes moveAp {
    0% {
        opacity: 0;
        bottom: -.5em;
        visibility: hidden;
    }

    100% {
        opacity: .8;
        bottom: 0em;
        visibility: visible;
    }
}

@keyframes moveDown {
    0% {
        opacity: .8;
        bottom: 0em;
        visibility: visible;
    }

    100% {
        opacity: 0;
        bottom: -.5em;
        visibility: hidden;
    }
}

.hint {
    margin: 0 0 0 1em;
    font-size: 1em;
    color: red;
    font-weight: 700;
    opacity: 1;
    text-align: center;
}

.okIcon {
    position: relative;
    top: .2em;
    left: .2em;
    font-size: 1em;
    text-align: center;
}
