@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.form-group {
  width: 100%;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

/* You can add global styles to this file, and also import other style files */
.nextBtn{
  /*color: #fff;*/
  position: fixed;
  left: 15px;
  bottom: 5px;
}
.prevBtn{
  position: fixed;
  right: 15px;
  bottom: 5px;
}
.invalid-red{
  background-color:#d9534f;
}
.panelBox {
  height: 85vh;
}


.ok-btn {
  color: black !important;
  margin-right: 100%;
  background-color: #fff!important;
}

.panelButton {
    background-color: #4CC6F5;
    color: #fff;
    opacity: 1;
    display: inline-block;
    width: 4em;
    margin: .4em .4em .4em .4em;
    padding: .4em;
    font-size: 2em;
    border-radius: 5px;
        float:left !important;

}

.panelButtonBack {
    background-color: #fff;
    color: #4CC6F5;
    opacity: 1;
    display: inline-block;
    margin: .4em .4em .4em .4em;
    padding: .4em;
    font-size: 2em;
    border: 2px solid #4CC6F5;
    border-radius: 5px;
    float:right !important;
}

.panelButtonBack {
    background-color: #fff;
    color: #4CC6F5;
    cursor: pointer;
}


.panelButtonDisappear {
    animation-name: disappear;
    animation-duration: 1s;
    display: none;
}

.panelButtonAppear {
    animation-name: appear;
    animation-duration: 1s;
    display:inherit;
}


@keyframes disappear {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}


@keyframes appear {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.panelButton:hover {
    background: #4CC6F5;
    cursor: pointer;
    opacity: .9;
}

.panelBackButton {
    float: right;
}

.panelNextxtButton {
    float: left;
    text-align: center;
}

.backText {
    margin-right: 20px;
    color: #4CC6F5;
}


.dissapp{
  display: none;
}

.navItemSelectd {
    background-color: #4CC6F5;
    color: #fff;
}

    .navItemSelectd:hover {
        cursor: auto;
    }



.displayFlex {
    display: flex;
}

.centerContent {
    justify-content: center;
    align-items: center;
    text-align: right;
    display: flex;
}

.shaddowDesgin {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 0;
}

    .shaddowDesgin:hover {
        z-index: 1000;
        box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
        -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    }

.margin1em {
    margin: 1.5em;
}



/*5*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #4CC6F5;
}

.moveAppAnimation {
    animation-name: moveAp;
    animation-duration: 1s;
    visibility: visible;
    position: relative;
    bottom: 0em;
    opacity: .8;
}

.moveDownAnimation {
    animation-name: moveDown;
    animation-duration: 1s;
    visibility: hidden;
    position: relative;
    bottom: -.7em;
    opacity: 0;
}


@keyframes moveAp {
    0% {
        opacity: 0;
        bottom: -.5em;
        visibility: hidden;
    }

    100% {
        opacity: .8;
        bottom: 0em;
        visibility: visible;
    }
}

@keyframes moveDown {
    0% {
        opacity: .8;
        bottom: 0em;
        visibility: visible;
    }

    100% {
        opacity: 0;
        bottom: -.5em;
        visibility: hidden;
    }
}

.hint {
    margin: 0 0 0 1em;
    font-size: 1em;
    color: red;
    font-weight: 700;
    opacity: 1;
    text-align: center;
}

.okIcon {
    position: relative;
    top: .2em;
    left: .2em;
    font-size: 1em;
    text-align: center;
}

/*MATIRAL DESING INPUTS*/


/* CheckBox */
input[type="checkbox"] {
  width:2em;
  height: 25px;
  margin-top: 0.5em;
  }

/* CheckBox */


.monthArrow{
  font-size: 25px;
}
.monthArrow:hover{
  cursor: pointer;
}

.datePickerMonth{
  padding-left:1em;
  padding-right:1em;
}

/*******************************
* MD DIALOG - MATERIAL DESIGN
* Add "modal-sm" after "modal-dialog" class for smaller dialog.
* Get free snippets on bootpen.com
*******************************/
/* ----- IMPORT ROBOTO FONT FOR MD ----- */

/* ----- DIALOG/MODAL ----- */
/* FADE/SCALE EFFECT */
.modal.fade .modal-dialog {
  opacity: 0;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -o-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal.fade.in .modal-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* DIALOG CONTENT */
.modal-content {
  border: none;
  text-align: right;
  border-radius: 2px;
  -webkit-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
}

/* DIALOG HEADER */
.modal-header {
  min-height: 16px;
  padding: 24px;
  border-bottom: none;
}

.modal-title {
  direction: rtl;
  font-weight: 500;
  font-size: 21px;
}

/* DIALOG BODY */
.modal-body {
  text-align: right;
  padding: 0 24px;
}

.modal-body p {
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}

.modal-body .lead {
  font-weight: 300;
  font-size: 16px;
  color: #757575;
}

.modal-body p:last-child,
.modal-body .lead:last-child {
  margin-bottom: 0;
}

.close {
  line-height: 25px;
  position: absolute;
  left: 10px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
}

/*modal*/

.footerTitle{
  bottom: 0;
  padding-left:0.2em;
  float:left;
  width:100%;
  text-align: center;
}
.footer{
  box-sizing: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

* {
  font-family: 'Assistant', sans-serif;
  color: #414142;
  font-weight: 700;
}

/*TOP COVER*/
.coverBox {
  height: 106px;
  background-color: #e4e6e7;
  padding-right: 10px;
  word-wrap: break-word;
}
.title {
   font-size: calc(1em + 1vw) !important;
  margin-top: 0.1em;
  margin-bottom: 5px;

}

.roomName {
  margin: .5em;
  font-size: 1em;
  font-weight: 700;

}

.sepratorLine {
  height: 2px;
  background-color: #808080
}

.LineTop {
  height: 5px;
  background-color: #4CC6F5;
}


/*END --- TOP COVER*/

/*NAV*/
.navEsc {
  margin: 1em;
  padding-left: 0;
  height: 50px;
}



.navItem {
}


.circle {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  border: #4CC6F5 solid .1em;
  margin: 1em;
  background-color: #ECEFF1;
  color: #263238;
  font-weight: 900;
}

.circle:hover {
  cursor: pointer;
  color: #fff;
  background-color: #4CC6F5;
}


/*END --- NAV*/

.goBottom {
  position: relative;
  bottom: 0;
}


/*CALANDER*/

.text {
  font-size: 1.1em;
  /*color: #414142;*/
  /*font-weight: 600;*/
}


.daysBox {
  width: 60%;
  border: solid 2px #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hoursBox {
  width: 40%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid 2px #fff;
}


.dayAndHoursBox {
  text-align: right;
  display: flex;
  width: 350px;
  height: 263px !important;
  margin: auto;
  background-color: #ECEFF1;
}


.days {
  font-size: 1.1em;
  color: #414142;
  font-weight: 900;
  background-color: #ECEFF1;
  padding: .5em;
}

.days:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.chooseDay {
  background-color: #e4e6e7;
}

.hour {
  font-size: 1.1em;
  color: #414142;
  font-weight: 600;
  background-color: #ECEFF1;
  padding: .5em;
}

.hour:hover {
  cursor: pointer;
  background-color: #e4e6e7;
}

.chooseHour {
  background-color: #e4e6e7;
}


.calander{

  margin-top: 1em;
}

.textMonth {
  font-size: 1.8em;
  color: #4CC6F5;
  font-weight: 900;
  margin: 0 2em 0 2em;
  width: 5em;
  text-align: center;
}

.arrowMonth {
  font-size: 1.8em;
  color: #4CC6F5;
  font-weight: 900;
  opacity: .8;
}

.arrowMonth:hover {
  cursor: pointer;
  opacity: 1;
}

.leftArrow {
  height: 2em;
  -webkit-clip-path: polygon(30% 0, 0 50%, 100% 100%);
  clip-path: polygon(40% 0, 0 50%, 40% 100%);
  background-color: red;
  position: absolute;
}



.playersBox {
  width: 300px;
}

.numberOfPlayersBox {
  border-bottom: 0.0625rem solid #999;
  margin-right: 15px;
  float: right;
}

.smaillTitle {
  font-weight: 700;
  text-align: center;
  font-size: 19px;
}

.numberOfPlayers {
  color: #414142;
  font-weight: 700;
  color: #414142;
  margin: 0 1.5em 0 1.5em;
}

.numberOfPlayersSign {
  color: #414142;
}

.numberOfPlayersSign:hover{
  cursor: pointer;
}

.detailsBox{
  margin:auto;
  text-align: center;
}

.Box{
  background-color: #fff;
}

.chooseRoomBox{
  padding: 0 !important;
  margin: 1em;
  background-color: #ECEFF1;
  width: 30em;
}

.chooseRoomBox:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.selectedRoom {
  background-color: #e4e6e7;
}

.choosenDate_TimeBox{

  color: #4CC6F5 !important;
  padding: 1em;
  margin: 0;
  text-align: center;

}

.ButtonChooseRoom{
  background-color: #4CC6F5;
  color: #fff;
  font-size: 1em;
  height: 6em;
  text-align: center;
  vertical-align: central;
}


@media (max-width:480px) {
  .centerNavItem {
    position: relative;
    right: 25%;
    text-align: center;
  }
}

@media (max-width:568px) {
  .dayAndHoursBox{
    width:310px;
  }
}

.calenderBtns{
  display: flex; justify-content: space-between; width:400px;
}

@media (max-width:568px) {
  .calenderBtns{
    width:350px;
  }
}

.navItemSelectd{
  background-color: #4CC6F5;
  color: #fff;
}

.fontBold{
  font-weight: 900;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-right:23px solid #E4E4E4;
}

.wizardItem {
  background-color: #E4E4E4;
  width: 90%;
  border-radius: 0 10px 10px 0;
  /*border: 2px solid lightgray;
  border-left: none;*/
  height: 46px;
  padding: 3px;
  font-size: 14px;
}

.wizardItem img {
  width: 36px;
  height: auto;
}

@media (max-width: 568px) {
  .wizardItem img { width: 33px; }

  .navEsc {
    height: 90px;
  }
}

.wizardItem span {
  display: inline-block;
}

.wizardItem.navItemSelectd span {
  color: white;
}

.wizardItem.navItemSelectd+.arrow-left {
   border-right-color: #4CC6F5 !important;

 }

@media only screen and (max-width: 700px) {
  .wizardItem.navItemSelectd span {
    color: black;
  }

  .wizardItem span {
    padding-top: 12px;
  }

  .navEsc {
    height: 70px;
  }
}


.wizardItem.navItemSelectd img {
  filter: brightness(0) invert(1);
}

.content {
  max-width: 980px; margin: 0 auto;
}

/*my form style*/

.form-horizontal * {
  /*direction: rtl;*/
}

.modal-content{
  position:fixed !important;
}
.myDialog{
  position:fixed !important;
}

.myDialogBody{
  height: 60vh !important;
  overflow: auto !important;
}

.modal-body{
  height: 60vh !important;
  overflow: auto !important;
}
.close{
  font-size: 40px !important;
  margin-top: -10px !important;
}
